<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suiteGuru">
	<listeners>
		<listener class-name="utilities.TestNGListeners" />
	</listeners>
	<test name="testGuru">
		<classes>
			<class name="testNG.DummyTest"/>
		</classes>
	</test>
	<!-- testGuru -->
</suite>
<!-- suiteGuru -->
